<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RTIS_Vulcan_TRANS_SVC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RTIS_Vulcan_TRANS_SVC.My.MySettings>
            <setting name="RTServer" serializeAs="String">
                <value>MSI\PADDYSQL</value>
            </setting>
            <setting name="RTDB" serializeAs="String">
                <value>CAT_RTIS</value>
            </setting>
            <setting name="RTUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="RTPassword" serializeAs="String">
                <value>62017</value>
            </setting>
            <setting name="EvoServer" serializeAs="String">
                <value>MSI\PADDYSQL</value>
            </setting>
            <setting name="EvoDB" serializeAs="String">
                <value>Cataler_SCN</value>
            </setting>
            <setting name="EvoUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="EvoPassword" serializeAs="String">
                <value>62017</value>
            </setting>
            <setting name="EvoComServer" serializeAs="String">
                <value>MSI\PADDYSQL</value>
            </setting>
            <setting name="EvoComDB" serializeAs="String">
                <value>CAT_EvolutionCommon</value>
            </setting>
            <setting name="EvoComUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="EvoComPassword" serializeAs="String">
                <value>62017</value>
            </setting>
        </RTIS_Vulcan_TRANS_SVC.My.MySettings>
    </userSettings>
</configuration>